<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: common_header(~{::title},~{::script},~{::link})">
<meta charset="utf-8" />
<title>权限列表</title>
<script type="text/javascript" th:inline="javascript">
	$(function() {
		initSubTable();
	});
	function addDictionary(){
		layer.open({
			type : 2,
			title : '添加字典',
			shadeClose : true,
			shade : 0.8,
			end:function(){
				$('#tb_list').bootstrapTable('refresh');
			},
			area : [ '650px', '80%' ],
			content : [[@{/sys/dictionary/add}]]
		});
	}
	var dictionaryId;
	function addDictionaryData(){
		if(dictionaryId==null){
			layer.msg("请选择字典")
			return ;
		}
		layer.open({
			type : 2,
			title : '添加字典数据',
			shadeClose : true,
			shade : 0.8,
			end:function(){
				$('#tb_list2').bootstrapTable('refresh');
			},
			area : [ '650px', '80%' ],
			content : [[@{/sys/dictionary/dataadd/}]]+dictionaryId
		});
	}
	function getEvents() {
		return {
			'click .BtnOfUpdate' : function(e, value, row, index) {
				var index = layer.open({
					type : 2,
					title : '编辑字典',
					shadeClose : true,
					end:function(){
						$('#tb_list').bootstrapTable('refresh');
					},
					shade : 0.8,
					area : [ '650px', '80%' ],
					content : [[@{/sys/dictionary/update}]]+"/"+row.primaryKey
				});
			},
			'click .BtnOfDel' : function(e, value, row, index) {
				layer.confirm('确定删除?', {
					btn : [ '删除', '取消' ]
				}, function() {
					$.get([[@{/sys/dictionary/del}]]+"/"+row.primaryKey,
							function(result) {
								if (result) {
									$('#tb_list').bootstrapTable('refresh');
									layer.msg('删除成功', {
										icon : 1,
										time : 1000
									});
								}
							}, "json");
				}, function() {
					layer.closeAll('dialog');
				});
			}
		}
	}
	
	function getEvents2() {
		return {
			'click .BtnOfUpdate' : function(e, value, row, index) {
				var index = layer.open({
					type : 2,
					title : '编辑字典数据',
					shadeClose : true,
					end:function(){
						$('#tb_list2').bootstrapTable('refresh');
					},
					shade : 0.8,
					area : [ '650px', '80%' ],
					content : [[@{/sys/dictionary/dataupdata}]]+"/"+row.primaryKey
				});
			},
			'click .BtnOfDel' : function(e, value, row, index) {
				layer.confirm('确定删除?', {
					btn : [ '删除', '取消' ]
				}, function() {
					$.get([[@{/sys/dictionary/datadel}]]+"/"+row.primaryKey,
							function(result) {
								if (result) {
									$('#tb_list2').bootstrapTable('refresh');
									layer.msg('删除成功', {
										icon : 1,
										time : 1000
									});
								}
							}, "json");
				}, function() {
					layer.closeAll('dialog');
				});
			}
		}
	}
	function initSubTable(){
			$("#tb_list").bootstrapTable({
				url: [[@{/sys/dictionary/list}]],
				method: 'post',
				toolbar: '#toolbar',                //工具按钮用哪个容器
				queryParamsType: "nolimit",
				striped: true,                      //是否显示行间隔色
				cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
				pagination: true,                   //是否显示分页（*）
				sidePagination: "server",			//服务端分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [], 
				queryParams : function queryParams(params) {
	 				var param = {
    					"page":parseInt(params.pageNumber),
    					"rows":params.limit
    				};
				return param;
				},
				onDblClickRow: function (row) { 
					initSubTable2(row.primaryKey,row.text);
				}, 
				onLoadSuccess: function () { 
					var allTableData = $("#tb_list").bootstrapTable('getData');
					if(allTableData.length>0){
					initSubTable2(allTableData[0].primaryKey,allTableData[0].text);
					}
				}, 
				responseHandler: function(res) {
    				return {
        				"total": res.data.total,//总页数
        				"rows": res.data.list   //数据
     				};
				},
				columns: [{
    				field: 'text',
    				title: '名称'
				},{
    				field: 'code',
   					title: '编码'
				},{
					title : '操作',
					align : 'center',
					events : getEvents(),
					formatter : function(value, row, index) {
						return ['<button type="button" class="BtnOfUpdate pointer btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i>&nbsp;编辑</button>',
						'<button type="button" class="BtnOfDel pointer btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>', ].join('');
					},
				} ]
			});	
		}
	function initSubTable2(dtId,dtName){
		dictionaryId=dtId;
		$("#dtName").html("【"+dtName+"】");
		$("#tb_list2").bootstrapTable('destroy'); 
		$("#tb_list2").bootstrapTable({
			url: [[@{/sys/dictionary/data/list/}]]+dtId,
			method: 'post',
			toolbar: '#toolbar2',                //工具按钮用哪个容器
			striped: true,                      //是否显示行间隔色
			cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
			pagination: false,                   //是否显示分页（*）
			queryParams : function queryParams(params) {
 				var param = {};
				return param;
			},
			responseHandler: function(res) {
				return res.data;
			},
			columns: [{
				field: 'name',
				title: '数据名称'
			},{
				field: 'code',
				title: '数据编码'
			},{
				title : '操作',
				align : 'center',
				events : getEvents2(),
				formatter : function(value, row, index) {
					return ['<button type="button" class="BtnOfUpdate pointer btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i>&nbsp;编辑</button>',
						'<button type="button" class="BtnOfDel pointer btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>', ].join('');
				},
			} ]
		});	
	}
</script>
</head>
<body>
	<div class="row">
		<div class="col-sm-6">
			<div class="box box-primary">
				<div class="box-body">
					<div id="toolbar">
						<div class="pull-right">
							<button class="btn btn-sm btn-warning" onclick="addDictionary()">
								<i class=" glyphicon glyphicon-plus"></i> 添加字典
							</button>
						</div>
					</div>
					<table id="tb_list"></table>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="box box-primary">
				<div class="box-body">
					<div id="toolbar2">
						<button type="button" onclick="addDictionaryData()"
							class="btn btn-warning btn-sm">添加字典数据</button>
						<span id="dtName"></span>
					</div>
					<table id="tb_list2"></table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>