<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://thymeleafexamples">
<head
	th:replace="common/head :: common_header(~{::title},~{::script},~{::link})">
<meta charset="utf-8" />
<title>添加</title>
<script type="text/javascript" th:inline="javascript">
$(function() {
    $('#form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'　　　　　　　　
        },
        fields: {
        	        	original: {
                validators: {
                    notEmpty: {
                        message: '不能为空'
                    }
                }
            },
        	escape: {
                validators: {
                    notEmpty: {
                        message: '不能为空'
                    }
                }
            },
        }
    });
});
</script>
</head>

<body>
	<div class="box box-primary">
		<div class="box-body">
			<form id="form" method="post" role="form">
							<div class="form-group">
								<label for="original">原始</label>
								<input id="original" name="original" type="text" class="form-control" >
							</div>
							<div class="form-group">
								<label for="escape">转义</label>
								<input id="escape" name="escape" type="text" class="form-control" >
							</div>
				<div class="form-group">
					<div class="text-align-right">
						<button type="button" class="btn btn-sm btn-default close-layer"><span class="glyphicon glyphicon-remove"></span>&nbsp;取消</button>
						<button type="submit" class="btn btn-sm btn-success "><span class="glyphicon glyphicon-ok"></span>&nbsp;确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>